<!DOCTYPE html>
<html lang="en">
<head>
  <title>Product Search</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script> -->

    
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/angular-auto-complete@1.7.3/angular-auto-complete.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-svg-round-progressbar/0.4.8/roundProgress.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyC9HBExGTftsTmeBjHXLucUi5NH2QXCQkY"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
  <script src="https://www.promisejs.org/polyfills/promise-6.1.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-shim.min.js"></script>
  <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="searchModule.js"></script>
  <script src="product_page/productModule.js"></script>
  <script src="details_page/detailsModule.js"></script>
  <script src="wish_page/wishModule.js"></script>
  <script src="wish_page/wishDetailsModule.js"></script>

</head>



<body ng-app="productSearchModel" ng-controller="searchController">


  <div class="input-box">
    <div class="container" id="mainContainer">
      <div class="col-md-8 offset-md-2">
        <h3 class="title"><center>Product Search</center></h3>
        <form class="form-horizontal" id="myForm" name="myForm" method="GET" onsubmit="return false;">
          <div class="form-group row">
            <label for="input_keyword" class="col-md-3 col-form-label">Keyword<font color="red">*</font></label>
            <div class="col-md-9">
              <input type="text" id="input_keyword" name="keyword" class="form-control" placeholder="Enter Product Name (eg. iPhone 8)" ng-model="myKeyword" ng-style="newKeywordStyle" ng-required="true">
              <p class="error" ng-show="myForm.keyword.$invalid && myForm.keyword.$touched">Please enter a keyword.</p>
            </div>
          </div>

          <div class="form-group row">
            <label for="input_category" class="col-md-3 col-form-label">Category</label>
            <div class="col-md-6">
              <select id="input_category" name="category" class="form-control" ng-model="myCategory" required="required">
                <option value="default">Default</option>
                <option value="550">Art</option>
                <option value="2984">Baby</option>
                <option value="267">Books</option>
                <option value="11450">Clothing, Shoes & Accessories</option>
                <option value="58058">Computers/Tablets & Networking</option>
                <option value="26395">Health & Beauty</option>
                <option value="11233">Music</option>
                <option value="1249">Video Games & Consoles</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="input_distance" class="col-md-3 col-form-label">Condition</label>
            <div class="col-md-6">
              <input type="checkbox" id="input_new" name="input_new"  ng-model="myCondition1">
              <label>New &nbsp;</label>
              <input type="checkbox" id="input_used" name="input_used"  ng-model="myCondition2">
              <label>Used &nbsp;</label> 
              <input type="checkbox" id="input_unspecified" name="input_unspecified"  ng-model="myCondition3">
              <label>Unspecified &nbsp;</label>
            </div>
          </div>

          <div class="form-group row">
            <label for="input_distance" class="col-md-3 col-form-label">Shipping Options</label>
            <div class="col-md-6">
              <input type="checkbox" id="input_pickup" name="input_pickup"  ng-model="myShipping1">
              <label>Local Pickup &nbsp;</label>
              <input type="checkbox" id="input_ship" name="input_ship"  ng-model="myShipping2">
              <label>Free Shipping &nbsp;</label> 
            </div>
          </div>

          <div class="form-group row">
            <label for="input_distance" class="col-md-3 col-form-label">Distance (Miles)</label>
            <div class="col-md-6">
              <input type="text" id="input_distance" name="distance"  class="form-control" ng-model="myDistance" placeholder="10" pattern="[0-9]+">
            </div>
          </div>

          <div class="form-group row">
            <label for="input_location" class="col-md-3 col-form-label">From<font color="red">*</font></label>
            <div class="col-md-9" ng-init="myLocation=1" style="padding-right: 30px;">  
                <input type="radio" id="location_option1" name="location" ng-model="myLocation" ng-value="1" ng-click="validateLocation()">
                Current Location<br>
                <input type="radio" id="location_option2" name="location" ng-model="myLocation" ng-value="2" ng-click="validateLocation()">
                Other. Please specify zip code:<br>

                <!-- autocomplete API -->
                <md-autocomplete required 
                  md-input-name="inpute_location_autocomplete"
                  md-input-id="inpute_location_autocomplete"

                  md-clear-button="false"
                  ng-disabled="isAutocompleteDisabled"
                  md-no-cache="noCache"
                  md-selected-item="selectedItem"
                  md-search-text-change="searchTextChange(searchText)"
                  md-search-text="searchText"
                  md-selected-item-change="selectedItemChange(item)"
                  md-items="item in querySearch(searchText)"
                  md-item-text="item"
                  md-input-minlength="1"
                  placeholder="zip code">
                  <md-item-template>
                    <span md-highlight-text="searchText">{{item}}</span>
                  </md-item-template>
                </md-autocomplete>
                <p class="error" id="locationError" ng-show="myForm.inpute_location_autocomplete.$invalid && myForm.inpute_location_autocomplete.$touched">Please enter a location.</p>             
        

            </div>           
          </div>

          <div class="form-group row">
            <div class="col-md-12">
              <button type="submit" id="searchButton" class="btn btn-primary" name="search" ng-disabled="b_disableKeywordLocation()" ng-click="cleanAnimation();getInputs('/product_page')">
                <i class="material-icons md-18">search</i>Search</button>
              <button type="button" id="clearButton" class="btn btn-info" name="clear" ng-click="cleanAnimation();clearInputs()"> 
                <i class="material-icons md-18">clear_all</i>Clear</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="form-group">
      <div class="col-md-12">
        <center>
          <button type="button" id="resultsButton" class="btn btn-outline-primary btn-md" name="results" ng-class="{'changeToActive':b_clickResults}" ng-click="cleanAnimation();clickSearchButton()" autofocus>Results</button>
          <button type="button" id="favoritesButton" class="btn btn-outline-primary btn-md" name="favorites" ng-class="{'changeToActive':b_clickWish}" ng-click="cleanAnimation();clickWishButton()">Wish List</button>
        </center>
      </div>
    </div>
    <br><br>
    <div class="progress" ng-show="showProgressBar">
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style=" height:12px; width:50%; background-color:#176aef">
      </div>
    </div>
  </div>

  <div ng-if="!b_searchDone" align="center">
    <br><br>
    <p class="failedSearch"><font color="#96000a"> Failed to get search results.</font></p>
    <br><br><br>
  </div>

  <div ng-view ng-class="{'slide': b_slide, 'moveToRight': moveToRight}" ng-if="b_searchDone"></div>

</body>
</html>
