.md-virtual-repeat-container.md-autocomplete-suggestions-container.my-cool-class {
  height: inherit;
  max-height: 600px !important;
}

.positionRelative{
  position: relative;
}

.pop_value {
  left: 9px;
  top: 10px;
  position: absolute;
  font-size: 15px;
}


input[type="text"]:disabled
{
  background-color:#eaeaf2;
}

.input-box
{
  padding: 10px;
}

#mainContainer
{
  color: white;
  max-width: 1200px !important;
  padding-top: 10px !important;
  border-style: solid !important;
  border-color: #c1c1c1 !important;
  border-width: thin !important;
  border-radius: 5px !important;
  background-color: #222121 !important;
}

.modal-title {
  color: black !important;
}

  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  
  .carousel-control-prev-icon {
  	background-color: black;
  }
  
  .carousel-control-next-icon {
  	background-color: black;
  }
  
  .carousel_border {
  	border: 5px solid black;
    border-radius: 5px;
  }
  
  .carousel-inner {
    border: 3px solid white;
  }

.table {
  max-width: 1150px;
}

.row
{
  max-width: 1150px !important;
}

.highlightRow {
  background-color: #c7c7c7;
}


.table-striped > tbody > tr:nth-child(odd).highlightRow > td {
  background-color: #c7c7c7;
}


table.hoverTable tr:hover td {
  background-color: #424246;
}


i.material-icons {
  /* font-size: 26px; */
  vertical-align: middle;
  position: relative;
  top: -1px;
}

.material-icons.yellow {
  color: rgba(179, 153, 41, 0.884); 
}


td.text-nowrap.title {
  font-size: 16px;
  color:rgb(38, 123, 235);
}
td.text-nowrap.title:hover {
  color:rgb(38, 123, 235);
  text-decoration: underline;
} 

/* td.name_link {
  color:rgb(38, 123, 235);
}

td.name_link:hover {
  color:rgb(38, 123, 235);
  text-decoration: underline;
} */

.title
{
  font-size: 22px;
  padding-bottom: 10px;
}

.labels
{
  color: white;
  font-weight: 500;
}

.nav-item .active {
  background-color: rgb(41, 39, 39) !important;
  color: white !important;
}

.btn-primary, .btn-primary:visited
{
  color: black !important;
  background-color: white !important;
  border-color: #c1c1c1 !important;
}

.btn-primary:hover:enabled, .btn-primary:active:enabled
{
  color: black !important;
  background-color: #c6c6c6 !important;
  border-color: #c1c1c1 !important;
}

.btn-info, .btn-info:visited
{
  color: black !important;
  background-color: white !important;
  border-color: #c1c1c1;
}

.btn-info:hover, .btn-info:active
{
  color: black !important;
  background-color: #c6c6c6 !important;
  border-color: #c1c1c1 !important;
}

.btn-outline-primary, .btn-outline-primary:hover {
    background-color: white;
    color: black;
    border: 0;
}

.btn-outline-primary.changeToActive
{
  background-color: black;
  color: white;
  border: 0;
}

.btn-extra:active, .btn-extra:focus
{
  color: white !important;
  background-color: #176aef !important;
}

.star
{
  color: #d61111;
}

#input_location
{
  margin-left: 0px;
}

#locationError
{
  margin-left: 16px;
}

.test
{
  background-color: red;
}

.error
{
  font-size: 14px;
  color: red;
}

#input_keyword.ng-invalid.ng-touched, #input_location.ng-invalid.ng-touched
{
  border: 1px solid red;
}

.detailsPage
{
  max-width: 1150px !important;
}

.resultsTable
{
  max-width: 1150px !important;
}

.similarTable
{
  max-width: 1150px !important;
}


.btn-page
{
  background-color: white !important;
  border-style: solid !important;
  border-color: #c1c1c1 !important;
  border-radius: 5px;
}

.divider
{
  width:8px;
  height:auto;
  display:inline-block;
}

a {
  color: #176aef;
}

.star-ratings-css
{
  unicode-bidi: bidi-override;
  color: white;
  font-size: 15px;
  height: 16px;
  width: 150px;
  margin: -20 auto;
  position: relative;
  padding: 0;
  display: inline-block;
}

.star-ratings-css-top
{
  color: #e7711b;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: inline-block;
  top: 0;
  left: 0;
  overflow: hidden;
}

.boldText
{
  font-weight: bold;
}

img.googlePhoto {
	border:8px solid #080808;
}

.img_row
{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create 3 equal columns that sits next to each other */
.img_column
{
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.img_column img
{
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of 3 columns */
@media screen and (max-width: 1000px)
{
  .img_column
  {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px)
{
  .img_column
  {
    flex: 100%;
    max-width: 100%;
  }
}

.noRecords
{
  max-width: 1150px;
  background-color: #fff2c1;
  text-align: left;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left:8px;
}

.zeroPadding
{
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.reviewTimeBox
{
  padding-left: 2px;
}

.reviewBorder
{
  border-color: #dbdbdb;
}

#reviewButton
{
  color: white;
  background-color: #7f8187 !important;
  border-color: #7f8187 !important;
}

#photosTab, #infoTab, #mapTab, #reviewsTab
{
  clear: both;
}



.simiBlock{
  border: 10px solid rgb(255, 255, 255) !important;
}

a.similar_name {
  display:inline-block;
  font-size: 13px;
	color: rgb(70, 156, 167);
  height: 2em;
}

/* 
p.similar_name:hover {
	color: rgb(70, 156, 167);
	text-decoration: underline !important;
} 
*/

p.similar_price {
  font-size: 13px;
	color:rgb(160, 223, 160);
  line-height: 4px;
}

p.similar_cost {
  font-size: 13px;
	color:rgb(253, 216, 114); 
  line-height: 4px;
}

p.similar_days {
  font-size: 13px;
	color:white;
  line-height: 4px;
}


#googleMap
{
  height: 400px;
}

#routeDetails
{
  height: 400px;
}

#streetView
{
  height: 400px;
}

#googleViewButton:hover
{
  background-color: none !important;
}

.failedSearch
{
  max-width: 1150px;
  background-color: #f2b8bc;
  text-align: left;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left:8px;
}




.fade-in-out
{
  transition: 0.8s linear all;
  opacity: 1;
}

.fade-in-out.ng-hide
{
  opacity: 0;
}

.right-to-left li
{
  float: right;
}

.slide
{
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-in-out;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.slide.ng-enter
{
  animation-name: slideToLeft;
  -webkit-animation-name: slideToLeft;
}

.slide.moveToRight.ng-enter
{
  animation-name: slideToRight;
  -webkit-animation-name: slideToRight;
}

.slide.ng-leave
{
  animation-name: slideToRight;
  animation-direction: reverse;
  -webkit-animation-name: slideToRight;
  -webkit-animation-direction: reverse;
}

.slide.moveToRight.ng-leave
{
  animation-name: slideToLeft;
  animation-direction: reverse;
  -webkit-animation-name: slideToLeft;
  -webkit-animation-direction: reverse;
}

@keyframes slideToLeft
{
  0%
  {
    transform: translateX(100%);
  }

  100%
  {
    transform: translateX(0);
  }
}

@keyframes slideToRight
{
  0%
  {
    transform: translateX(-100%);
  }

  100%
  {
    transform: translateX(0);
  }
}


@-webkit-keyframes slideToLeft
{
  0%
  {
    -webkit-transform: translateX(100%);
  }

  100%
  {
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes slideToRight
{
  0%
  {
    -webkit-transform: translateX(-100%);
  }

  100%
  {
    -webkit-transform: translateX(0);
  }
}
