<html>
  <head>

      <script>

        window.onclick = function(event) {
          var modal = document.getElementById('myModal');
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
      </script>

  </head>
  <body>

    <center>

        <!-- The Modal -->
        <div class="modal" id="myModal">
      
            <!-- <div class="modal-dialog"> -->
              <div class="modal-content">
              
                <!-- Header -->
                <div class="modal-header">
                  <h4 class="modal-title text-nowrap">Product Images</h4>   
                  <button type="button" class="close" data-dismiss="modal" ng-click="popup();">&times;</button>
                </div>
                
                <!-- body -->
                <div class="modal-body">
                      <div id="demo" class="carousel slide" data-ride="carousel" data-interval="false">

                        <!-- The slideshow -->
                        <div class="carousel_border">
                          <div class="carousel-inner">
                                <div class="carousel-item" ng-class="{active:!$index}" ng-repeat="x in ProductImg">
                                  <a href="{{x}}" target="_blank">
                                    <img src="{{x}}" alt=" carousel {{$index}}">
                                  </a>
                                </div>
                          </div>
                        </div>

                        <!-- Left and right img -->
                        <a class="carousel-control-prev" data-target="#demo" data-slide="prev">
                          <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" data-target="#demo" data-slide="next">
                          <span class="carousel-control-next-icon"></span>
                        </a>

                      </div>

                </div>
                
                <!-- footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="popup();">Close</button>
                </div>
                
              </div>
            <!-- </div> -->
        </div>  


      <div class="detailsPage table-responsive">
        <h3 class="product_name">{{name}}</h3>
        <button type="button" class="btn btn-light btn-sm" style="float:left; margin-left: 3px" ng-click="backToList()">
          <i class="material-icons md-18">chevron_left</i>List
        </button>
        <div class="fbArea" align="right">
          <span>
            <button class="btn btn-default" id="fbButton" style="padding:0px" ng-click="openFacebookWindow()">
              <img ng-src="http://csci571.com/hw/hw8/Images/facebook.png" style="width:40px; height:40px"/>
            </button>
          </span>
          <button type="button" class="btn btn-default btn-sm" style="margin-right: 3px; width:40px; height:40px; background-color: ghostwhite" ng-click="addToWishList()">
            <i ng-class="detailWishIconClass">{{shopping_cart}}</i>
          </button>
        </div>

        <div>
          <ul class="nav nav-tabs justify-content-end">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" data-target="#infoTab">Product</a></li>
            <li class="nav-item" ><a class="nav-link" data-toggle="tab" data-target="#photosTab">Photos</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" data-target="#shippingTab">Shipping</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" data-target="#sellerTab">Seller</a></li>
            <li class="nav-item desktop_similar_products" ng-click="requestSimilarApi()"><a class="nav-link" data-toggle="tab" data-target="#simiTab">Similar Products</a></li>
            <li class="nav-item mobile_device_500px_related" ng-click="requestSimilarApi()"><a class="nav-link" data-toggle="tab" data-target="#simiTab">Related</a></li>

          </ul>
        </div>


          <!-- The Modal -->
  



        <div class="tab-content table-responsive" align="left">
          <!-- infos tab -->
          <div id="infoTab" class="tab-pane active">
            <table class="table table-dark table-striped">
              <tr ng-if="showProductImg">
                <td style="font-weight: bold;" class="col-xs-6">Product Images</th>
                <td class="col-xs-6">
                  <!-- <a class="viewProductImg" href="" data-toggle="modal" data-target="#myModal">View Product Images Here</a> -->
                  <div class="viewProductImg" ng-click="popup();">View Product Images Here</div>      
                
                </td>
              </tr>
              <tr ng-if="showSubtitle">
                <td style="font-weight: bold;">Subtitle</th>
                <td>{{subtitle}}</td>
              </tr>
              <tr ng-if="showPrice">
                <td style="font-weight: bold;">Price</th>
                <td>${{price}}</td>
              </tr>
              <tr ng-if="showLocation">
                <td style="font-weight: bold;">Location</th>
                <td>{{productLocation}}
                </td>
              </tr>
              <tr ng-if="showReturnPolicy">
                <td style="font-weight: bold;">Return Policy</th>
                <td>{{returnPolicy}}</td>
              </tr>

              <tr ng-if="showItemSpecifics" ng-repeat="x in itemSpecList">
                  <td style="font-weight: bold;">{{x.Name}}</th>
                  <td>{{x.Value[0]}}</td>
              </tr>
            </table>
          </div>
          

          <!-- photos tab -->
          <div id="photosTab" class="tab-pane fade">
            <div class="img_row" ng-if="b_containPhoto">
              <div class="img_col">
                <a ng-if="photo_arr[0] !== undefined" ng-href="{{photo_arr[0]}}" target="_blank"><img class="eightPhoto" ng-src="{{photo_arr[0]}}" style="width:100%"/></a>
                <a ng-if="photo_arr[3] !== undefined" ng-href="{{photo_arr[3]}}" target="_blank"><img class="eightPhoto" ng-src="{{photo_arr[3]}}" style="width:100%"/></a>
                <a ng-if="photo_arr[6] !== undefined" ng-href="{{photo_arr[6]}}" target="_blank"><img class="eightPhoto" ng-src="{{photo_arr[6]}}" style="width:100%"/></a>
              </div>
              <div class="img_col">
                <a ng-if="photo_arr[1] !== undefined" ng-href="{{photo_arr[1]}}" target="_blank"><img class="eightPhoto" ng-src="{{photo_arr[1]}}" style="width:100%"/></a>
                <a ng-if="photo_arr[4] !== undefined" ng-href="{{photo_arr[4]}}" target="_blank"><img class="eightPhoto" ng-src="{{photo_arr[4]}}" style="width:100%"/></a>
                <a ng-if="photo_arr[7] !== undefined" ng-href="{{photo_arr[7]}}" target="_blank"><img class="eightPhoto" ng-src="{{photo_arr[7]}}" style="width:100%"/></a>                
              </div>
              <div class="img_col">
                <a ng-if="photo_arr[2] !== undefined" ng-href="{{photo_arr[2]}}" target="_blank"><img class="eightPhoto" ng-src="{{photo_arr[2]}}" style="width:100%"/></a>
                <a ng-if="photo_arr[5] !== undefined" ng-href="{{photo_arr[5]}}" target="_blank"><img class="eightPhoto" ng-src="{{photo_arr[5]}}" style="width:100%"/></a>
              </div>

            </div>
            <div ng-if="!b_containPhoto" class="no_record">
              No records.
            </div>
          </div>

          <!-- shipping tab -->
          <div id="shippingTab" class="tab-pane fade">
            <table class="table table-dark table-striped">
              <tr ng-if="showShippingCost">
                <td style="font-weight: bold;">Shipping Cost</th>
                <td>{{shippingCost}}</td>
              </tr>
              <tr ng-if="showShippingLocation">
                <td style="font-weight: bold;">Shipping Locations</th>
                <td>{{shippingLocation}}</td>
              </tr>
              <tr ng-if="showHandlingTime">
                <td style="font-weight: bold;">Handling time</th>
                <td>{{handlingTime}}</td>
              </tr>
              <tr ng-if="showExpeditedShipping && expeditedShipping">
                <td style="font-weight: bold;">Expedited Shipping</th>
                <td><i class="material-icons md-18" style="color:green">done</i></td>
              </tr>
              <tr ng-if="showExpeditedShipping && !expeditedShipping">
                  <td style="font-weight: bold;">Expedited Shipping</th>
                  <td><i class="material-icons md-18" style="color:red">clear</i></td>
                </tr>
              <tr ng-if="showOneDayShipping && oneDayShipping">
                <td style="font-weight: bold;">One Day Shipping</th>
                <td><i class="material-icons md-18" style="color:green">done</i></td>
              </tr>
              <tr ng-if="showOneDayShipping && !oneDayShipping">
                <td style="font-weight: bold;">One Day Shipping</th>
                <td><i class="material-icons md-18" style="color:red">clear</i></td>
              </tr>
              <tr ng-if="showReturnAccepted && returnAccepted">
                <td style="font-weight: bold;">Return Accepted</th>
                <td><i class="material-icons md-18" style="color:green">done</i></td>
              </tr>
              <tr ng-if="showReturnAccepted && !returnAccepted">
                <td style="font-weight: bold;">Return Accepted</th>
                <td><i class="material-icons md-18" style="color:red">clear</i></td>
              </tr>


            </table>
          </div>

          <!-- seller tab -->
          <div id="sellerTab" class="tab-pane fade">
            <table class="table table-dark table-striped">

              <tr ng-if="showUserId">
                <th colspan="2" style="text-align: center; font-size: 22px">{{user_id}}</th>
              </tr>

              <tr ng-if="showFeedbackScore">
                <td style="font-weight: bold;">Feedback Score</th>
                <td>{{feedbackScore}}</td>
              </tr>
              <tr ng-if="showPopularity">
                <td style="font-weight: bold;">Popularity</th>
                <td>

                  <!-- seller popularity -->
                  <div class="pop_positionRelative">
                    <round-progress
                    max="100"
                    current="popularity"
                    color="#376d33"
                    bgcolor="#fff23f"
                    radius="23"
                    stroke="3"
                    rounded="false"
                    clockwise="false"></round-progress>

                    <div class="pop_value">
                        {{popularity}}
                    </div>
                  </div>


                </td>
              </tr>
              <tr ng-if="showFeedbackRatingStar && overTop">
                <td style="font-weight: bold;" class="text-nowrap">Feedback Rating Star</th>
                <td><i class="material-icons md-24 ratingStar" ng-style="{'color': starColor}">stars</i></td>
              </tr>
              <tr ng-if="showFeedbackRatingStar && !overTop">
                <td style="font-weight: bold;" class="text-nowrap">Feedback Rating Star</th>
                <td><i class="material-icons md-24 ratingStar" ng-style="{'color': starColor}">star_border</i></td>
              </tr>

              <tr ng-if="showTopRated && topRated">
                <td style="font-weight: bold;">Top Rated</th>
                <td><i class="material-icons md-18" style="color:green">done</i></td>
              </tr>
              <tr ng-if="showTopRated && !topRated">
                <td style="font-weight: bold;">Top Rated</th>
                <td><i class="material-icons md-18" style="color:red">clear</i></td>
              </tr>              
              <tr ng-if="showStoreName">
                <td style="font-weight: bold;">Store Name</th>
                <td>{{storeName}}</td>
              </tr>
              <tr ng-if="showBuyProductAt">
                <td style="font-weight: bold;">Buy Product At</th>
                <td><a class="store" href="{{buyProductAt_url}}" target="_blank">Store</a></td>
              </tr>
            </table>
          </div>

          <!-- similar tab -->
          <div id="simiTab" class="tab-pane fade">

            <!-- 2 buttons -->
            <div class="simiButtonsArea" align="left" style="margin-top:15px">
              <!-- form-option version -->
              <form class="form-inline">
                <select class="form-control col-md-2" id="simi_sort_method_option" ng-model="mySortMethod_option" ng-change="sort()">
                  <option value="simi_defalt">Default</option>
                  <option value="simi_name">Product Name</option>
                  <option value="simi_days">Days Left</option>
                  <option value="simi_price">Price</option>
                  <option value="simi_cost">Shipping Cost</option>
                </select>
                
                <select class="form-control col-md-2" id="simi_sort_direction_option" style="margin-left:20px;" ng-model="mySortDirection_option" ng-change="sort()">
                  <option value="simi_ascending">Ascending</option>
                  <option value="simi_descending">Descending</option>
                </select>
              </form>     
            </div>

            <br>

            <!-- similar table -->
            <div class="similarTable col-md-8 table-responsive">
                    <div class="simiBlock row" ng-repeat="x in similar_items_arr track by $index" ng-if="x.showRow">
                      <div class="similar_img col-xs-12"><img src='{{x.imageURL}}' height='150px' width='150px' align="left"/></div>
                      <div class="simi_description col-md-9 col-xs-12">
                        
                        <ul class="similar_name"></p><a class="similar_name_a" href='{{x.viewItemURL}}' target="_blank">{{x.title}}</a></ul>
                        <ul class="similar_price">Price: ${{x.buyItNowPrice.__value__}}</ul>
                        <ul class="similar_cost">Shipping Cost: ${{x.shippingCost.__value__}}</ul>
                        <ul class="similar_days">Days Left: {{x.timeLeft}}</ul>

                      </div>  
                    </div>
            </div>

            <!-- show more / show less -->
            <center>
            <button ng-if="similarItemOverFive" type="button" class="btn btn-dark btn-md" ng-click="showMoreLess()">{{txt_showMoreLess}}</button>
            </center>
            <!-- no similar -->
            <div class="no_record" ng-if="!b_containSimilar">
              No records. 
            </div>

            <br><br><br>

          </div>

        </div>
      </div>
    </center>
    <br></br>
  </body>
</html>
