<html>
  <head>
  </head>
  <body ng-controller="productController">
    <center>
      <div class="detailsPage resultsSec" ng-show="showResultsTable">
        <div ng-if="ifHasTable">
          <div align="right" style="margin-bottom:10px;">
            <button type="button" class="btn btn-default btn-sm" ng-disabled="b_clickDetail" ng-click="changeAnimation();redirectDetailsPage()">
               Detail<i class="material-icons md-18">chevron_right</i>
            </button>
          </div>       
            <div class="resultsTable table-responsive" id="pageTable">
              <table class="table table-dark table-striped hoverTable">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Shipping</th>
                    <th>Zip</th>
                    <th>Seller</th>
                    <th class="text-nowrap">Wish List</th>
                  </tr>
                </thead>
                <tbody>

                  <tr ng-repeat="x in fiftyData track by $index" ng-class="{highlightRow: x.b_picked}" ng-if="x.showProductRow">
                    <td><b>{{$index + 1}}</b></td>
                    <td><img src='{{x.galleryURL[0]}}' height='100px' width='100px'/></td>
                    <td class="text-nowrap title" ng-click="requestDetails($index);" data-toggle="tooltip" data-placement="bottom" title="{{x.title[0]}}">{{x.short_title}}</td>

                    <td>${{x.sellingStatus[0]['currentPrice'][0]['__value__']}}</td>
                    <td class="text-nowrap">{{x.shipCost}}</td> 
                    <td>{{x.postalCode[0]}}</td>
                    <td>{{x.sellerInfo[0]['sellerUserName'][0]}}</td>
                    <td> 
                      <button type="button" class="btn btn-default" ng-click="saveToLocalStorage($index)">
                        <i ng-class="x.wishIconClass">{{x.shopping_cart}}</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>


          <div>  
            <ul class="pagination justify-content-center">
              <li class="page-item" ng-class="{'disabled':b_disablePrevious}" ng-click="goPreviousPage()"><a class="page-link"><span>&laquo;</span> Previous</a></li>
              <li class="page-item" ng-class="{'active':b_activePage1}" ng-click="page1()" ng-if="showPage1"><a class="page-link">1</a></li>
              <li class="page-item" ng-class="{'active':b_activePage2}" ng-click="page2()" ng-if="showPage2"><a class="page-link">2</a></li>
              <li class="page-item" ng-class="{'active':b_activePage3}" ng-click="page3()" ng-if="showPage3"><a class="page-link">3</a></li>
              <li class="page-item" ng-class="{'active':b_activePage4}" ng-click="page4()" ng-if="showPage4"><a class="page-link">4</a></li>
              <li class="page-item" ng-class="{'active':b_activePage5}" ng-click="page5()" ng-if="showPage5"><a class="page-link">5</a></li>
              <li class="page-item" ng-class="{'disabled':b_disableNext}" ng-click="goNextPage()"><a class="page-link">Next <span>&raquo;</span></a></li>
            </ul>
          </div>


        </div>

        <div ng-if="!ifHasTable">
          <br>
          <p class="noRecords"><font color="#af9233">  No records.</font></p>
        </div>
      </div>
    </center>
    <br></br>
  </body>
</html>
