<html>
  <head>
  </head>
  <body>
    <center>
      <div class="detailsPage" ng-controller="wishController">
        <div ng-if="b_containWishList">
          <div align="right" style="margin-bottom:10px;">
            <button type="button" class="btn btn-default btn-sm" ng-disabled="b_clickDetail" ng-click="addAnimation();redirectFavoriteDetailsPage()">
               Detail<i class="material-icons md-18">chevron_right</i>
            </button>
          </div>
          <div class="table-responsive" ng-if="b_containWishList">
            <table class="table table-dark table-dark table-striped hoverTable">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Image</th>
                  <th>Title</th>
                  <th>Price</th>
                  <th>Shipping</th>
                  <th>Zip</th>
                  <th>Seller</th>
                  <th>Wish List</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="x in wishData track by $index" ng-class="{highlightRow: x.b_picked}">
                  <td><b>{{$index + 1}}</b></td>
                  <td><img src='{{x.galleryURL[0]}}' height='80px' width='80px'/></td>
                  <td class="name_link" ng-click="sendKey($index); redirect('/favoriteDetails_page')">{{x.title[0]}}</td>
                  <td>${{x.sellingStatus[0]['currentPrice'][0]['__value__']}}</td>
                  <td>{{x.shipCost}}</td>
                  <td>{{x.postalCode[0]}}</td>
                  <td>{{x.sellerInfo[0]['sellerUserName'][0]}}</td>
                  <td>
                    <button type="button" class="btn btn-default btn-sm" ng-click="removeLocalStorage($index)">
                      <i ng-class="x.wishIconClass">{{x.shopping_cart}}</i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <button type="button" id="previousButton" class="btn btn-page" name="previous" ng-show="showPrevious" ng-click="getPreviousPage()">Previous</button>
            <div class="divider"></div>
            <button type="button" id="nextButton" class="btn btn-page" name="next" ng-show="showNext" ng-click="getNextPage()">Next</button>
          </div>
        </div>

        <div ng-if="!b_containWishList">
          <br>
          <p class="noRecords"><font color="#af9233">  No records.</font></p>
        </div>
      </div>
    </center>
    <br></br>
  </body>
</html>
