<html>
  <head>
  </head>
  <body>
    <center>
      <div class="detailsPage" ng-controller="wishController">
        <div ng-if="b_containWishList">
          <div align="right" style="margin-bottom:10px;">
            <button type="button" class="btn btn-light btn-sm" ng-disabled="b_clickDetail" ng-click="addAnimation(); redirectToWishDetailPage()">
               Detail<i class="material-icons md-18">chevron_right</i>
            </button>
          </div>
          <div class="table-responsive" ng-if="b_containWishList">
            <table class="table table-dark table-dark table-striped hoverTable">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Image</th>
                  <th>Title</th>
                  <th>Price</th>
                  <th class="text-nowrap">Shipping</th>
                  <th>Seller</th>
                  <th class="text-nowrap">Wish List</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="x in wishData track by $index"> 
                  <td><b>{{$index + 1}}</b></td>
                  <td><img src='{{x.galleryURL[0]}}' height='100px' width='100px'/></td>
                  <td> <a class="text-nowrap title" ng-click="requestWishDetail($index); redirect('/wishDetails_page')" data-toggle="tooltip" data-placement="bottom" title="{{x.title[0]}}">{{x.short_title}}</a></td>


                  <td>${{x.sellingStatus[0]['currentPrice'][0]['__value__']}}</td>
                  <td class="text-nowrap">{{x.shipCost}}</td>
                  <td>{{x.sellerInfo[0]['sellerUserName'][0]}}</td>
                  <td>
                    <button type="button" class="btn btn-default" ng-click="removeLocalStorage($index)">
                      <i ng-class="x.wishIconClass">{{x.shopping_cart}}</i>
                    </button>
                  </td>
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="text-nowrap">Total Shopping</td>
                  <td>${{total_shopping_price}}</td>
                </tr>

              </tbody>
            </table>
          </div>


        </div>

        <div ng-if="!b_containWishList">
          <br>
          <p class="no_record">  No records. </p>
        </div>
      </div>
    </center>
    <br></br>
  </body>
</html>
